.btn {
  border: thick;
  border-color: black;
}

body {
  background-color:teal;
  min-height: 500px;
}

.jumbotron {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  background-color: rgb(241, 205, 211);
  font-family: 'Times New Roman', Times, serif;
}

#output {
  display: none;
  text-align: center;
  background-color: rgb(24, 170, 126);
  padding: 20px;
  padding-top: 20px;
  border-style: solid;
  border-color: black;
  max-width: 200px;
}

.currency {
  padding-top: 30px;
}

